// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts-home{
	    display: flex;
    margin-top: 20px;
    justify-content: space-between;
#GL{
	
	box-shadow: 11px 28px 82px 19px #21b4ec;
    /* width: 15vh; */
    /* background-color: white; */
    flex-basis: 8vw;
}
#FL{
	width:8vw;
	box-shadow: 40px 14px 40px 23px #21b4ec;
}
    
    #post_content{
        width: 95%;
    /* height: 34%; */
    height: 14vh;
    }
.deewar-posts{
    box-shadow: 15px 0px 67px 11px #21b4ec;
   flex-basis: 78vw;

.posts-list{
	    list-style-type: none;
}
   .posts-list-item{
   padding-left: 28px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0px 3px 7px 1px #a7afae;}
   

   }

}













